body {
    background-color: rgb(184, 217, 255);
    min-width: 699px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style-type: none;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    max-width: 150px;
    min-width: 100px;
    width: 18%;
    background-color: darkblue;
    float: left;
}
  
li a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 25, 71);
    color: white;
    border: dotted;
    border-width: 2px;
    border-color: blue;
    border-radius: 100px;
}

h1,p.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 25%;
}

h1 {
    margin-left: 18%;
}

p.content {
    font-size: 20px;
    margin-left: 20%;
}

iframe {
    height: 500px;
    width: 70%;
    margin-left: 10%;
}

a.References {
    float: left;
    margin-top: 100%;
}

/* table,
th,
td {
    margin-left: 20%;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
} */

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 15%;
    margin-right: 10%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #00000015}
  
  th {
    background-color: darkblue;
    color: rgb(255, 255, 255);
  }
